@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$break-mobile: 600px;

:root {
    font-size: 14px;

    @media(max-width: $break-mobile) {
        font-size: 12px;
    }
}

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../images/rgb.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @media (max-width: $break-mobile) {
        background-size: 90vw;
        background-position-x: center;
        background-position-y: top;
    }
}

.header {
    color: #505050;
    text-align: center;
    margin: 0 0 4rem 0;
    width: 90vw;
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    @media (max-width: $break-mobile) {
        margin: 4rem 0;
    }
}

#container {
    width: 90vw;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-around;
    column-gap: 10%;

    @media (max-width: $break-mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: inset 0 0 0.4rem black;
    color: #6a6a6a;
    opacity: 1;

    @media (max-width: $break-mobile) {
        border-radius: 2rem 2rem 0 0;
        box-shadow: inherit;
        box-shadow: 2px 4px 4px 1px black;
        padding: 1rem;
    }



    &-colors {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: 2%;
        align-items: center;
        margin-top: 1rem;

        &:first-child{
            margin-top: 0;
        }

        label {
            font-size: 1rem;
        }

        input[type="range"] {
            width: 100%;

        }

        input[type="text"] {
            width: 70%;
            text-align: center;
            border-radius: 2rem;
            padding: 0.3rem;
            border: 1px solid #fefefe;
            box-shadow: inset 0 0 0.4rem white;
            outline: none;

            @media (max-width: $break-mobile) {
                width: 100%;
            }

        }
    }
}

.card-background {
    text-align: center;
    height: 100%;
    width: 100%;

    @media(max-width: $break-mobile) {
        height: 40vh;

        border-radius: 2rem 2rem 0 0;
        box-shadow: inherit;
    }


    &-text {
        font-size: 1.4rem;
        margin-top: 1rem;
        padding: 1rem;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 5rem;
        text-decoration: none;
    }

    &-color {
        background-color: black;
        width: 100%;
        height: 100%;
        border-radius: 0.6rem;

        @media (max-width: $break-mobile) {
            border-radius: 0 0 2rem 2rem;
            box-shadow: inherit;
            box-shadow: 2px 4px 4px 1px black;
            margin-bottom: 1rem;
            height: 70%;
        }
    }
}

.text-color {
    &-red {
        background-color: red;
        color: white;
    }

    &-green {
        background-color: green;
        color: white;
    }

    &-blue {
        background-color: blue;
        color: white;
    }
}